extend layout

block content
  .jumbotron.masthead
    .container
      
      p Chat - Business Inteligence (Equipe 1) 
      p Usando Rethink DB - NoSQL

      a(href="chat").btn.btn-info
        i.icon-comments-alt
        |  Entrar
   


