extend layout

block content
  .jumbotron.masthead
    .container
      h1= title
      label E-mail:
      p= seeUser.mail
      //label ...and why not show password hash:
      //p= seeUser.password

